/*
.config/
!.xprofile
!.xmonad
!.config
!.xprofile




.config/nvim/autoload
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.config/Bitwarden/
.config/BraveSoftware/
.config/Caprine/
.config/GIMP/
.config/JetBrains/
.config/Kite/
.config/Kitware/
.config/QtProject.conf
.config/Thunar/
.config/VSCodium/
.config/VirtualBox/
.config/alacritty/ala.txt
.config/arcolinux-betterlockscreen/
.config/arcolinux-welcome-app/
.config/arcologout/
.config/autostart/
.config/balena-etcher-electron/
.config/chromium/
.config/coc/
.config/configstore/
.config/dconf/
.config/discord/
.config/eog/
.config/gconf/
.config/htop/
.config/kglobalshortcutsrc
.config/libfm/
.config/libreoffice/
.config/mimeapps.list
.config/neofetch/
.config/nitrogen/
.config/nvim/pack/
.config/nvim/plug-config/kite.vim
.config/obs-studio/
.config/omf/
.config/pavucontrol.ini
.config/pcmanfm/
.config/pipewire-media-session/
.config/pulse/
.config/qtile/__pycache__/
.config/ranger/plugins/__pycache__/
.config/ranger/plugins/ranger_devicons/
.config/ranger/rifle.conf
.config/spectaclerc
.config/stacer/
.config/systemd/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/variety/
.config/vlc/
.config/volumeicon/
.config/xfce4/
.config/fish/functions
autostart.sh
.config/qBittorrent
.config/Atom
.config/composer
.config/kdeconnect
.config/redshift
.config/psysh
