/home/js/.config/qtile/__pycache__/
/home/js/.config/ranger/plugins/
/home/js/.xmonad/xmonad.hi
/home/js/.xmonad/xmonad.o
/home/js/.xmonad/xmonad.errors
/home/js/.xmonad/xmonad-x86_64-linux
/home/js/.config/ranger/plugins/__init__.py
/home/js/.config/ranger/plugins/__pycache__/__init__.cpython-38.opt-1.pyc
/home/js/Documentos
/home/js/Descargas
/home/js/Imágenes
/home/js/Escritorio
/home/js/.var
/home/js/.npm
/home/js/.viminfo
/home/js/.pki
/home/js/.xsession
/home/js/.xsession-errors
/home/js/.Xauthority
/home/js/.Xresources
/home/js/.bashrc
/home/js/.bash_history
/home/js/.bin
/home/js/.bash_logout
/home/js/.cache
/home/js/.config/BraveSoftware
/home/js/.config/Kvantum
/home/js/.config/Thunar
/home/js/.config/qt5ct
/home/js/.config/Trolltech.conf
/home/js/.config/VSCodium
/home/js/.config/arcologout
/home/js/.config/arcolinux-tweak-tool
/home/js/.config/arcolinux-welcome-app
/home/js/.config/balena-etcher-electron
/home/js/.config/chromium
/home/js/.config/configstore
/home/js/.configstore
/home/js/.config/conky
/home/js/.config/dconf
/home/js/.config/fontconfig
/home/js/.config/galculator
/home/js/.config/gsimplecal
/home/js/.config/htop
/home/js/.config/mimeapps.list
/home/js/.config/neofetch
/home/js/.config/nomacs
/home/js/.config/pamac
/home/js/.config/pavucontrol.ini

