/home/js/.config/qtile/__pycache__/
/home/js/.config/ranger/plugins/
/home/js/.xmonad/xmonad.hi
/home/js/.xmonad/xmonad.o
/home/js/.xmonad/xmonad.errors
/home/js/.xmonad/xmonad-x86_64-linux
/home/js/.config/ranger/plugins/__init__.py
/home/js/.config/ranger/plugins/__pycache__/__init__.cpython-38.opt-1.pyc

