bar | xob -s volume &
nm-applet &
picom --experimental-backends &
cbatticon &
nitrogen --restore &
volumeicon &
udiskie -t &
variety &
redshift-gtk &

setxkbmap -layout us -variant dvorak &

 
 sh ~/.config/polybar/launch.sh &
